@font-face{
    font-family: 'Poppins';
    src: url("./../fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family: 'Poppins';
    src: url("./../fonts/Poppins-Bold.ttf");
    font-weight: bold;
}

@font-face{
    font-family: 'Open Sans';
    src: url("./../fonts/OpenSans-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #16213E;
    height: 100%;
    animation: slideColor 5s infinite alternate;
}

@keyframes slideColor {
    from {background-color: #16213E;}
    to {background-color: #E94560;}
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.big-header{
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    font-weight: bold;
}

.desc{
    font-size: 2.5em;
}

@media screen and (max-width:800px){
    .container > div{
        text-align: center;
    }

    .big-header{
        font-size: 3em;
    }
    
    .desc{
        font-size: 2em;
    }
}

