@font-face{
    font-family: 'Poppins';
    src: url("./../fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family: 'Poppins';
    src: url("./../fonts/Poppins-Bold.ttf");
    font-weight: bold;
}

@font-face{
    font-family: 'Open Sans';
    src: url("./../fonts/OpenSans-Regular.ttf");
}


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #16213E;
}

nav{
    padding: 10px;
    background-color: #E94560;
}

article{
    padding: 50px;
    margin-bottom: 20px;
}

article:nth-child(even){
    background-color: #1A1A2E;
    grid-template-columns: 2fr 1fr;
}

article > section:first-child{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    align-items: center;
}

article:nth-child(even) > section:first-child{
    background-color: #1A1A2E;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

nav img, article img{
    display: block;
    margin: 0 auto;
}

.vector-img{
    width: 300px;
}

.header-article{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.caption-article{
    font-size: 32px;
}

.label-list{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

/** Card List without Pic */
.card-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.card-list > div{
    padding: 30px;
    background-color: #E94560;
    max-height: 500px;
    text-align: center;
}

.card-header{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.card-caption{
    font-size: 26px;
}

/** Mini Card List without Pic */
.mini-card-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.mini-card-list > div{
    padding: 10px;
    background-color: #E94560;
    display: flex;
    align-items: center;
}

/** Card List with Pic */
.card-list-pic{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 20px;
    justify-content: center;
}

.card-list-pic > div{
    background-color: #E94560;
    max-height: 540px;
    text-align: left;
}

.cardpic-header{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.cardpic-caption{
    font-size: 20px;
}

.card-container{
    padding: 24px;
}

/** Footer */
footer{
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

.img-container{
    margin-top: 20px;
}

.img-container img{
    width: 60px;
    margin: 0 50px;
    opacity: 0.5;
    transition: opacity 0.5s
}

.img-container img:hover{
    opacity: 1;
}

/** Miscellaneous */

.material-icons{
    font-size: 144px;
}

.label-minicard, .small{
    font-size: 24px;
    margin: 0 10px;
}

.left-align{
    text-align: left !important;
}

.link{
    color: white;
}